/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--basic-text), sans-serif;
  font-variation-settings: 'wght' var(--basic-main-text);
  width: var(--content-width);
  margin: 0 auto;
}

.header {
  height: 327px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  gap: 20px;
}

.header-title {
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
}

.header-big-title {
  font-size: clamp(49px, 3.04vw + 37.6px, 65px);
}

.header-small-title {
  font-size: clamp(14px, 0.97vw + 10.36px, 23px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  gap: 52px;
}

.card {
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

.card-title {
  margin: 4px 10px;
}

.card-text {
  font-family: var(--basic-text), sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card-info {
  margin: 25px;
  display: grid;
  gap: 25px;
}

.pictures {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-just-do-it {
  filter: blur(2px);
}

.image-programmer {
  filter: opacity(0.6);
}

.image-ginger-cat {
  filter: saturate(2);
}

.image-kitty {
  filter: hue-rotate(90deg);
}

.image-sleeping-cats {
  filter: sepia(1);
}

.image-wooden-blocks {
  filter: grayscale(1);
}

.image-cool {
  filter: grayscale(0.8) blur(1px) brightness(1.2)
}

.button {
  display: grid;
  justify-content: end;
}

.button__text {
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
  font-size: 14px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: visible; 
  margin-right: 25px;
  margin-bottom: 25px;
}

.like-icon {
  position: absolute;
  left: -47px; 
  width: 39px;
  height: 36px;
  pointer-events: none;
  z-index: 2;
}

.card-image-wrapper {
  position: relative;
}

.label {
  position: absolute;
  font-family: var(--accent-text);
  font-weight: var(--accent-text-weight);
  font-size: 14px;
  color: #000;
  display: flex;
  justify-items: end;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--stroke-color);
  text-shadow: 1px 1px 0 var(--stroke-color); 
  top: 25px;
  right: 25px;
  z-index: 2;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label {
    text-shadow: none;
  }
} 

.button-save {
  background-color: #fff;
  width: 306px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  padding: 12px 0;
}

.button-animation {
  border: 2px solid #000;
  background-color: #FFFFFF;
}

.button-animation:focus {
  border: 2px solid #000;
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.button-animation:focus {
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
}

.save-icon {
  width: 28px;
  height: 28px;
  image-rendering: pixelated;
}

.dialog {
  display: none;
}

.dialog[open] {
  background-color: #FFFFFF;
  width: 341px;
  height: 191px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 40px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog-content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  gap: 20px;
}

.dialog-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
  text-align: left;
}

.dialog-button {
  width: 261px;
  height: 38px;
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
  text-transform: uppercase;
}

.button-icon {
  max-width: 28px;
  height: auto;
}

@media (width >= 500px)  {
  .header {
    height: 368px;
  }

  .button-save {
    flex-direction: row;
    width: 335px;
    height: 55px;
    padding: 15px 20px;
    gap: 8px;
    justify-content: center;
  }

  .button__text {
    text-align: left;
    font-size: 14px;
    line-height: 90%;
    white-space: nowrap;
  }

  .dialog-text {
    white-space: normal;
    line-height: 150%;
  }

  .button-icon {
    max-width: 21px;
    height: auto;
  }

  .dialog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}