/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--basic-text), sans-serif;
  font-variation-settings: 'wght' var(--basic-main-text);
  width: var(--content-width);
  margin: 0 auto;
}

.header {
  height: 327px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  gap: 20px;
}

.header-title {
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
}

.header-big-title {
  font-size: clamp(49px, 3.04vw + 37.6px, 65px);
}

.header-small-title {
  font-size: clamp(14px, 0.97vw + 10.36px, 23px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  gap: 54px;
}

.card {
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

.card-text {
  font-family: var(--basic-text), sans-serif;
  font-size: 18px;
}

.card-info {
  margin: 25px;
  display: grid;
  gap: 25px;
}

.pictures {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  display: grid;
  justify-content: end;
}

.button__text {
  font-family: var(--accent-text), sans-serif;
  font-weight: var(--accent-text-weight);
  font-size: 14px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  background-color: transparent;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  overflow: visible; 
  margin-right: 25px;
  margin-bottom: 25px;
}

.like-icon {
  position: absolute;
  left: -45px; 
  width: 39px;
  height: 36px;
  pointer-events: none;
}

.card-image-wrapper {
  position: relative;
}

.label {
  position: absolute;
  font-family: var(--accent-text);
  font-weight: var(--accent-text-weight);
  font-size: 14px;
  color: #000;
  display: flex;
  justify-items: end;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--stroke-color);
  text-shadow: 1px 1px 0 var(--stroke-color); 
  top: 25px;
  right: 25px;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label {
    text-shadow: none;
  }
} 

.button-save {
  background-color: #fff;
  width: 306px;
  height: 84px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  padding: 12px 0;
}

.save-icon {
  width: 28px;
  height: 28px;
  image-rendering: pixelated;
}

.dialog {
  background-color: #FFFFFF;
  width: 341px;
  height: 191px;
  border: 2px solid #000;
}
