/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-text: PressStart2P;
    --accent-text-weight: 400;
    --basic-text: Inter Variable;
   
}